@import url('https://js.arcgis.com/4.7/esri/css/main.css');

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav a {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
}

#btn1{
  text-decoration: none;
  font-size: 2em;
  margin: 0.5em;
  /*color: white;*/
}
#btn2{
  text-decoration: none;
  font-size: 2em;
  margin: 0.5em;
  /*color: white;*/
}
#btn3{
  text-decoration: none;
  font-size: 2em;
  margin: 0.5em;
  /*color: white;*/
}
#btn4{
  text-decoration: none;
  font-size: 2em;
  margin: 0.5em;
  /*color: white;*/
}

.container{
  border-radius: .5em;
  background-color: lightgrey;
  width: 40%;
}
